<%- include('../partials/header', {subtitle: 'Register', hideNav: true}); %>
<div class="row justify-content-md-center mt-5">
    <form class="col col-md-5" id="form" method="post" novalidate>
        <h1>Register</h1>
        <div class="input-group has-validation mt-2">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input name="username" type="text" class="form-control" aria-describedby="inputGroupPrepend" required
                   placeholder="Username">
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="input-group has-validation mt-1">
            <input id="password" name="password" type="password" class="form-control" required
                   placeholder="Password">
            <div class="invalid-feedback">
                Please choose a <strong>strong</strong> password.
            </div>
        </div>
        <div class="input-group has-validation mt-1">
            <input id="passwordRepeat" type="password" class="form-control" required
                   placeholder="Password repeat">
            <div class="invalid-feedback">
                Please repeat the password.
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Register</button>
    </form>
    <script>
        const form = document.querySelector('#form')
        form.addEventListener('submit', function (event) {
            const passwordField = form.querySelector("#password");
            const passwordRepeatField = form.querySelector("#passwordRepeat");
            if (passwordField.value !== passwordRepeatField.value) {
                passwordRepeatField.setCustomValidity('pw_missmatch');
            } else {
                passwordRepeatField.setCustomValidity('');
            }
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        })
    </script>
</div>
<%- include('../partials/footer'); %>